include ../mixins/sub-menu

header.header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand(href="/")
        img(src=generalSetting.logo alt=generalSetting.websiteName height="30")

      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarContent")
        span.navbar-toggler-icon

      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") Trang chủ
          li.nav-item.sub-menu
            a.nav-link(href="/products") Sản phẩm
            +sub-menu(categories, "/products")

        form.form-inline.mx-auto#form-search(action="/search" method="GET")
          .input-group
            input.form-control.py-2.border-right-0.border(type="search" placeholder="Tìm kiếm..." name="keyword" value=keyword)
            span.input-group-append
              button.btn.btn-outline-secondary.border-left-0.border(type="submit")
                i.fa.fa-search

        ul.navbar-nav.ml-auto
          if !user
            li.nav-item
              a.nav-link(href="/user/register") Đăng ký
            li.nav-item
              a.nav-link(href="/user/login") Đăng nhập
          else
            li.nav-item.dropdown
              .avatar-container
                img.rounded-circle.user-avatar(src=(user.avatar ? user.avatar : "https://res.cloudinary.com/di57unjti/image/upload/v1726933905/dplnfu8noqzwmbx9gpqj.jpg") alt="User Avatar")
                .dropdown-menu.dropdown-menu-right
                  a.dropdown-item(href="/user/profile") Thông tin cá nhân
                  a.dropdown-item(href="/user/orders") Đơn mua
                  .dropdown-divider
                  a.dropdown-item(href="/user/logout") Đăng xuất

          li.nav-item
            a.nav-link(href="/cart")
              i.fas.fa-shopping-cart
              span.badge.badge-pill.badge-primary.ml-1 #{miniCart ? miniCart.totalQuantity : 0}