include ../mixins/sub-menu.pug

header.header
    .container
        .inner-logo
            a(href="/")
                img(src="/images/Logo Shop.jpg" alt="Logo")
        .inner-menu
            ul
                li
                    a(href="/") Trang chủ 
                li(class="sub-menu")
                    - const path = "/products"
                    a(href=path) Sản phẩm
                        +sub-menu(categories, path)
