extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/products-layout.pug
include ../../mixins/pagination.pug

block main
    .container.my-3 
        .row 
            .col-12 
                +box-head(pageTitle) 

        +products-grid(products)

        +pagination(pagination)