header.header 
    .container-fluid 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN 

            .col-9
                // Nội dung của col-9 ở đây
 


